In [180]:
# import des modules data
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt

# importation des modules de machine learning
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [181]:
df = pd.read_csv('/home/apprenant/PycharmProjects/NYC_cabs/data/clean.csv', parse_dates = [2,3])

In [182]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,distance_km,trip_duration_h,speed_km_h,weekday,time_hour
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,-73.982155,40.767937,-73.964630,40.765602,455,1.498521,0.126389,11.856428,Monday,17
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,-73.980415,40.738564,-73.999481,40.731152,663,1.805507,0.184167,9.803659,Sunday,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,-73.979027,40.763939,-74.005333,40.710087,2124,6.385098,0.590000,10.822201,Tuesday,11
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,-74.010040,40.719971,-74.012268,40.706718,429,1.485498,0.119167,12.465721,Wednesday,19
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,-73.973053,40.793209,-73.972923,40.782520,435,1.188588,0.120833,9.836594,Saturday,13

In [183]:
df = df.drop(columns = ['id','vendor_id'])

In [184]:
df.dtypes

pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
trip_duration                 int64
distance_km                 float64
trip_duration_h             float64
speed_km_h                  float64
weekday                      object
time_hour                     int64
dtype: object

In [185]:
df.head()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,distance_km,trip_duration_h,speed_km_h,weekday,time_hour
0,2016-03-14 17:24:55,2016-03-14 17:32:30,-73.982155,40.767937,-73.964630,40.765602,455,1.498521,0.126389,11.856428,Monday,17
1,2016-06-12 00:43:35,2016-06-12 00:54:38,-73.980415,40.738564,-73.999481,40.731152,663,1.805507,0.184167,9.803659,Sunday,0
2,2016-01-19 11:35:24,2016-01-19 12:10:48,-73.979027,40.763939,-74.005333,40.710087,2124,6.385098,0.590000,10.822201,Tuesday,11
3,2016-04-06 19:32:31,2016-04-06 19:39:40,-74.010040,40.719971,-74.012268,40.706718,429,1.485498,0.119167,12.465721,Wednesday,19
4,2016-03-26 13:30:55,2016-03-26 13:38:10,-73.973053,40.793209,-73.972923,40.782520,435,1.188588,0.120833,9.836594,Saturday,13

### one hot encoding

In [186]:
# TODO: create a OneHotEncoder object, and fit it to all of X
from sklearn import preprocessing
# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder(handle_unknown='ignore')

# passing column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(df[['weekday']]).toarray())

# merge with main df on key values
df_2 = df.join(enc_df)
df_2

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,distance_km,trip_duration_h,speed_km_h,weekday,time_hour,0,1,2,3,4,5,6
0,2016-03-14 17:24:55,2016-03-14 17:32:30,-73.982155,40.767937,-73.964630,40.765602,455,1.498521,0.126389,11.856428,Monday,17,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2016-06-12 00:43:35,2016-06-12 00:54:38,-73.980415,40.738564,-73.999481,40.731152,663,1.805507,0.184167,9.803659,Sunday,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2016-01-19 11:35:24,2016-01-19 12:10:48,-73.979027,40.763939,-74.005333,40.710087,2124,6.385098,0.590000,10.822201,Tuesday,11,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2016-04-06 19:32:31,2016-04-06 19:39:40,-74.010040,40.719971,-74.012268,40.706718,429,1.485498,0.119167,12.465721,Wednesday,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2016-03-26 13:30:55,2016-03-26 13:38:10,-73.973053,40.793209,-73.972923,40.782520,435,1.188588,0.120833,9.836594,Saturday,13,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,2016-03-19 01:39:35,2016-03-19 01:55:46,-73.993889,40.756840,-73.949280,40.827789,971,8.737429,0.269722,32.394177,Saturday,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9720,2016-03-27 01:21:27,2016-03-27 01:36:59,-73.997223,40.719307,-73.986656,40.761303,932,4.753843,0.258889,18.362484,Sunday,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9721,2016-06-13 10:33:06,2016-06-13 10:39:18,-73.987190,40.760956,-73.982147,40.768261,372,0.916629,0.103333,8.870604,Monday,10,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9722,2016-03-25 15:57:28,2016-03-25 16:02:23,-73.975090,40.756077,-73.968575,40.764622,295,1.097237,0.081944,13.390017,Friday,15,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9723,2016-03-12 11:49:34,2016-03-12 11:59:53,-73.970337,40.762577,-73.951653,40.774483,619,2.056316,0.171944,11.959187,Saturday,11,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [187]:
df_3 = df_2.drop(columns= ['weekday','pickup_longitude','dropoff_longitude','dropoff_latitude','pickup_latitude','trip_duration','trip_duration_h','pickup_datetime','dropoff_datetime'])
df_3.head()

   distance_km  speed_km_h  time_hour    0    1    2    3    4    5    6
0     1.498521   11.856428         17  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1     1.805507    9.803659          0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
2     6.385098   10.822201         11  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3     1.485498   12.465721         19  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4     1.188588    9.836594         13  0.0  0.0  1.0  0.0  0.0  0.0  0.0

### regression lineaire multiple , avec Ridge

In [188]:
y = df.trip_duration
X = df_3

In [189]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, train_size=0.8)

In [206]:
from sklearn import linear_model
regr = linear_model.Ridge(alpha = 205)
regr.fit(xtrain, ytrain)

Ridge(alpha=205)

In [207]:
print("Le coefficient β1 est égal à {} tandis que l'intercept β0 est égal à {}"
      .format(round(regr.coef_[0],2),round(regr.intercept_)))

Le coefficient β1 est égal à 171.61 tandis que l'intercept β0 est égal à 908

In [208]:
ytrainpred = regr.predict(xtrain)
ytestpred = regr.predict(xtest)

print ("Pour les données d'entrainement le R2 vaut {} alors que pour les données de test, il est de {}" 
      .format(round(r2_score(ytrain, ytrainpred),3), round(r2_score(ytest, ytestpred),3)))

Pour les données d'entrainement le R2 vaut 0.785 alors que pour les données de test, il est de 0.796

In [209]:
print ("Pour les données d'entrainement le RMSE vaut {} alors que pour les données de test, il est de {}" 
      .format(round(mean_squared_error(ytrain, ytrainpred, squared=False),3), 
              round(mean_squared_error(ytest, ytestpred, squared=False),3)))

Pour les données d'entrainement le RMSE vaut 267.59 alors que pour les données de test, il est de 267.539

### gridsearch

In [210]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import Ridge

In [211]:
alphas = np.array([200,205,210,215])
# create and fit a ridge regression mod,el, testing each alpha
R_model = Ridge()
R_grid = GridSearchCV(estimator=R_model, param_grid=dict(alpha=alphas))
R_grid.fit(X, y)
print(R_grid)
# summarize the results of the grid search
print(R_grid.best_score_)
print(R_grid.best_estimator_.alpha)

GridSearchCV(estimator=Ridge(),
             param_grid={'alpha': array([200, 205, 210, 215])})
0.794014921212731
215

### Randomized

In [212]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, train_size=0.8)
X = xtest
y = ytest

In [213]:
from scipy.stats import uniform
model_params={"alpha":[i for i in range(350)],"normalize":[True, False]}
rnd_search = RandomizedSearchCV(R_model, model_params,n_iter =200, cv=4, random_state=1)
rnd_search.fit(X,y)
print(rnd_search.best_params_)
print(rnd_search.best_score_)

/home/apprenant/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=3.59823e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
/home/apprenant/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.10824e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

{'normalize': False, 'alpha': 100}
0.7752770240461864

En conclusion:
    
    il apparait clairement (R2 = 0.791) que la durée d'une course de taxi à new york dépend du jour de la semaine et de l'heure.